.header{
    display: flex;
    max-width: 100%;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 1rem;
    border-bottom: 1px solid var(--dark-bg-text  );
    flex-wrap: wrap;
}

.hero{
    color: var(--primary-color);
    margin-left: 5rem;
}

.search{
    width: 50rem;
    height: 4rem;
    outline: none;
}

.btn{
    color: inherit;
    font-size: 2rem;
    background-color: var(--dark-background);
    outline: none;
    border: none;
    cursor: pointer;
    font-family: inherit;
}

.btn-link{
    font-size: 2rem;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

 @media screen and (max-width:700px) {
    .search{
        display: none;
    }
}

