:root{
    --primary-color : #fba31e;
    --dark-primary-color : #211f24;
    --dark-background : #38353c;
    --dark-bg-text : #F0CCBC;
    --dark-bg-text-dark : #E1997A;
    --white-background : #f1ede2;
    --white-bg-text : black;
    --thistle-color : thistle;
    --darkseagreen-color:darkseagreen;
}