.small-text{
    font-size: 1rem;
}

.medium-text{
    font-size: 1.5rem
}

.large-text{
    font-size: 2rem;
}

.header-text{
    font-size: 3rem;
    font-weight: 600;
}

.margin-auto{
    margin: auto;
}

.text-center{
    text-align: center;
}