.sidebar{
    width: 20%;
    background-color:#3c3940;
    min-height: inherit;
    padding: 2rem;
    /* display: flex; */

}

.sidebar-element{
    background-color:var(--dark-background);
    padding: 1rem;
    margin-bottom: 1.5rem;
    cursor: pointer;
    padding-left: 4rem;
    color: inherit;
    display: flex;
}

.sidebar-element:hover{
    background-color: var(--dark-primary-color);
}

.sidebar-icon{
    margin-right: 2rem;
}

.sidebar-white{
    background-color: var(--white-background);
}

.sidebar-element-white{
    background-color: var(--dark-bg-text);
    color: inherit;
}

.sidebar-element-white:hover{
    background-color: var(--dark-bg-text-dark);
}

.link{
    text-decoration: none;
    color: inherit;
}

/* @media screen and (max-width :590px) {
    .sidebar-element{
        padding-left: 0;
    }
} */

@media screen and (max-width :650px) {
    .sidebar-text{
        display: none;
    }

    .sidebar-element{
        width: fit-content;
    }
}